// Colors
$gradientDark: linear-gradient(
  89.39deg,
  #000024 0.53%,
  #0f006b 53.96%,
  #0e0066 99.49%
);
$gradientLight: linear-gradient(135deg, #00ffff 0%, #6455ff 100%);
// Circle gradients
$gradiendCircle1: linear-gradient(89.39deg, #ff00ff 0.53%, #6455ff 99.49%);
$gradiendCircle2: linear-gradient(89.39deg, #00ffff 0.53%, #6455ff 99.49%);
$gradiendCircle3: linear-gradient(89.39deg, #0e0066 0.53%, #6455ff 99.49%);
$pink: #ff00ffd3;

$turquoise: #00ffff;

$blue: #0e0066;

$lightGrey: #f5f5f5;
$darkGrey: #4a4a4a;
$purple: #6455ff;

$shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
